*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #93ebff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 1em;
  align-items: center;
  margin-bottom: 40px;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: transform 0.5s;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  width: 90px;
  height: 90px;

}

@keyframes hideCard {
  0%,70% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card img {
  width: 80%;
  height: 80%;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear ;
}


@keyframes hideImage {
  0%,70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active {
  transform: rotateY(0);
}

.card.correct {
  background-color: #81ff5b;
}

.card.wrong {
  background-color: #ff3030;
}

.card.active img {
  transform: scale(1);
}

.heading-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 30px 0;
}

.heading-area h2 {
  font-weight: bold;
}

.playAgainBtn {
  background: #030c6c;
  border: 2px solid #fff;
  color:white;
  width:150px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.playAgainBtn:hover {
  background: #2c36a6;
}

.playAgainDiv {
  align-items: center;
  justify-content: center;
  display: flex;
}